@import "~Styles/mixins";
$wdt: 100%;
$padding: 20px;
$padding-vertical: $padding;
$padding-horizontal: $padding;
$sizes: 2, 3, 4, 6, 8, 10, 12;
.grid {
  size: 100% auto;
  min-height: 100%;
  @include clearfix();
  .col-2, .col-3, .col-4, .col-6, .col-8, .col-12 {
    float: left;
    box-sizing: border-box;
    padding: $padding-vertical $padding-horizontal/2;
    &:last-child {
      padding-right: 0;
    }
    &:first-child {
      padding-left: 0;
    }
    & > * {
      max-width: 100%;
    }
  }

  @each $col in $sizes  {
    .col-#{$col} {
      $wdt-current: $wdt/$col;
      size: $wdt-current 100%;
      @each $size in $sizes {
        &.size-#{$size} {
          size: $wdt-current * $size 100%;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .grid {
    .col-2, .col-3, .col-4, .col-6, .col-8, .col-12 {
      width: 50%;
      @each $size in $sizes {
        &.size-#{$size} {
          width: 50%;
        }
      }
    }
  }

}
@media (max-width: 800px) {
  .grid {
    .col-2, .col-3, .col-4, .col-6, .col-8, .col-12 {
      width: 100%;
      padding: $padding-vertical 0;
      @each $size in $sizes {
        &.size-#{$size} {
          width: 100%;
        }
      }
    }
  }
}
