.b-wrapper {
  position: absolute;
  size: 100%;
}

.b-container {
  size: 100%;
  position: absolute;
  z-index: 50;
  &__inner {
    @include bb;
    width: 100%;
    height: auto;
    min-height: 100%;
    padding-bottom: 50px;
    position: absolute;
  }
}

.b-content {
  @include bb;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 80px 100px;
  display: flex;
  background:  linear-gradient(to right, rgba(250,255,250,1), rgba(155,250,255,1));
  &:nth-child(odd) {
    // background:  linear-gradient(to right, rgba(250,255,250,1), rgba(155,250,255,1));
    .b-content__inner {
      background: linear-gradient(to right, rgba(100, 149, 237, 0.7), rgba(255, 127, 80, 0.7));
    }
  }
  &:nth-child(even) {
    // background: linear-gradient(to right, #d09f9f, #000);
    .b-content__inner {
      background: linear-gradient(to right, rgba(5, 0, 5, 0.7), rgba(0, 5, 0, 0.7));
    }
  }
  &__inner {
    @include containerWdt;
    @include bb;
    margin: auto;
    color: #fff;
    font-weight: 100;
    padding: 25px;
    min-height: 200px;
    // background: linear-gradient(to right, rgba(100, 149, 237, 0.7), rgba(255, 127, 80, 0.7));
    box-shadow: 4px 4px 19px rgba(0,0,0,0.5);
    position: relative;
    z-index: 500;
    border-radius: 3px;
  }
}

.b-bg {
  size: 100%;
  position: absolute;
  overflow: hidden;
  @include all_zero;
  img {
    min-width: 100%;
  }
}
