body, html {
  size: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  font: 16px/1.5 'Roboto', sans-serif;
  word-wrap: break-word;
}

main {
  min-height: 100%;
  width: 100%;
  height: auto;
  // background: linear-gradient(to right, #57236d,#500b0b);
}

.html table{
  size: auto !important;
}

input:invalid {
  box-shadow: none;
}

.b-container {
  size: 100%;
  position: relative;
  z-index: 500;
  &__inner {
    size: 100%;
    @include bb;
    padding: 100px;
  }
}

.b-content {
  @include all_zero;
  @include bb;
  position: absolute;
  size: 100%;
  padding: 100px;
  &__inner {
    @include containerWdt;
    @include bb;
    color: #fff;
    font-weight: 100;
    padding: 25px;
    min-height: 200px;
    background: linear-gradient(to right, rgba(100, 149, 237, 0.5), rgba(255, 127, 80, 0.5));
    box-shadow: 4px 4px 19px rgba(0,0,0,0.5);
    position: relative;
    z-index: 500;
    margin: 0 auto;
    border-radius: 3px;
  }
}
