body,
html {
  size: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  font: 16px/1.5 'Roboto', sans-serif;
  word-wrap: break-word;
}

main {
  min-height: 100%;
  width: 100%;
  height: auto;
  clear: fix;
}
