h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1;
  margin: 0;
  font-family: 'Poiret One', sans-serif;
}

@mixin headerSizes($size) {
  font-size: $size;
  padding: $size/4 0;
}

h1 {
  @include headerSizes(45px);
}

h2 {
  @include headerSizes(40px);
}

h3 {
  @include headerSizes(35px);
}

h4 {
  @include headerSizes(30px);
}

h5 {
  @include headerSizes(25px);
}

h6 {
  @include headerSizes(20px);
}
