@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin all_zero {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin containerWdt {
  // min-width: 600px;
  width: 100%;
  max-width: 1400px;
}

@mixin bb {
  box-sizing: border-box;
}
