@import "patterns.css";
@import "mixins.css";

.b-background {
  @include all_zero;
  size: 100%;
  position: absolute;
  overflow: hidden;
  pointer-events: none;

  &__pattern {
    @include p-bg;
    @include all_zero;
    opacity: 0.4;
    size: 100%;
    position: absolute;
    z-index: 20;
  }

  video {
    top: -20%;
    z-index: 10;
    position: absolute;
    min-width: 140%;
    min-height: 140%;
    width: auto;
    height: auto;
    background-size: cover;
  }
}
