@import "~Styles/mixins.scss";
.b-header {
  @include all_zero;
  position: relative;
  z-index: 10;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  &__inner {
    @include containerWdt;
    margin: 0 auto;
  }
  a {
    display: inline-block;
    margin: 10px;
    color: #fff;
    &.__active {
      text-decoration: none;
      color: #0cd01e;
    }
  }
}
